body{margin: 0;
font-family: arial nova}
#header{
    position:fixed;
    z-index: 2;
    background-color:black;
    width:1357px;
    height:85px;
    left:-8px;
    top:0px;
}
#headlogo{
    position: relative;
    top: 20px;
    left: 165px;
    width:150px;
    height:40px;
}
#navcon{
    margin-top:-25px;
    margin-left:350px;
    width:900px;
}
.navs{
    position: relative;
    display: inline-block;
}
.navbutt{
    text-decoration: none;
    font-family:arial nova;
    padding:10px;
    font-size:13px;
    color: white;
}
.navdropdowncontent{
    position: absolute;
    display: none ;
    min-width:0px;
    background-color: darkseagreen;
    margin-top: 9px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navdropdowncontent a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: arial nova;
    font-size: 15px
}
.navdropdowncontent a:hover{
    background-color: seagreen;
}
.navs:hover .navdropdowncontent, .navs:hover #pricingdropdowncontent{
    display: block;
}
.navs:hover .navbutt{
    background-color: mediumseagreen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.supportLogin{
    text-decoration: none;
    font-family:arial nova;
    margin-right:10px;
    font-size:13px;
    color: white;
}
.supportLogin:hover{color:mediumseagreen}
#pricingdropdowncontent{
    position: absolute;
    display: none ;
    min-width:180px;
    background-color: darkseagreen;
    margin-top: 9px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#pricingdropdowncontent a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: arial nova;
    font-size: 12px;
}
#pricingdropdowncontent a:hover{
    background-color: seagreen;
}
#pricingdropdowncontent #Col1, #Col2{
    width: 80px;
    float: left;
    text-align: center;
    position: relative;
}
#pricingdropdowncontent #Col3{
    float: left;
    width: 160px;
    color: white;
    font-size: 14px
    
}
#pricingdropdowncontent .pricingHead{
    color: white;
    font-weight: 400;
    font-size: 12px;
}
#pricingdropdowncontent .pricingPrice1{
    color: black;
    font-size: 18px;
}
#pricingdropdowncontent .pricingPrice2{
    color: black;
    font-weight: 100;
    font-size: 18px
}
#pricingdropdowncontent p{
    color: black;
    margin-top:-10px
}
#navbuttGS{
    background-color:mediumseagreen;
    padding:12px;
    border-radius:5px;
}
#navbuttGS:hover{background-color:seagreen}
#navglobe{
    position:relative;
    top:5px;
    left:5px
}
#navglobedir{
    position: relative;
    left:8px;
}
.pincing{
    font-size: 60px;
    margin-top: -120px;
    text-align: center;
    color: white;
    font-weight: 100;
}
#sectionOne{
    background-color: lightgray;
    margin-top: -57px;
    height: 1200px
}
.pricing{
    margin-top:100px;
    width:500px;
    margin-left: 600px;
    margin-top:-50px
}
.pricing p{
    font-size: 35px;
    position: relative;
    top: 20px
}
.pricing span{
    font-size:20px; 
    font-weight: 100;
    
}
#picConText{
    width: 1000px;
    margin-left: 250px;
}
.picConText{
    width: 400px;
    float: left;
    margin-right: 100px
}
.imageCon{
    background-image: url(../images/pricing-manufacturing.png);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    box-shadow: 0px 0px 5px;
    height: 300px
}
.imageCon a
{
    padding:15px;
    background-color: mediumseagreen;
    border-radius: 50px;
    position: relative;
    left: 10px;
    top: 50px;
    color: white;
    text-decoration: none;
}
.imageCon h1
{
    float: right;
    margin-left: 200px;
    margin-top: -20px;
    line-height: 50px;
    font-size: 25px
}
.imageCon h2
{
    font-size: 40px;
    font-weight: 400
}
#picConText .benefits{
    background-color: whitesmoke;
    padding: 10px;
    margin: 0
}
#picConText .proExtra{
    background-color: whitesmoke;
    padding: 10px;
    margin: 0;
    font-weight: 600
}
#picConText hr{
    margin: 0
}

#picConText #text1{
    width: 250px;
    text-align: center;
    position: absolute;
    margin-top: 580px;
    margin-left: 70px
}
#picConText #text2{
    width: 600px;
    text-align: center;
    position: relative;
    left: 100px;
    top: 40px;
    font-weight: 100;
    font-style: italic
}
#picConText #text2 a
{
    text-decoration: none;
    color: seagreen;
}
#picConText #bottomLink{
    position: relative;
    left: 300px;
    top: 40px;
    text-decoration: none;
    color: seagreen;
    font-weight: 100;
    font-style: italic
}
#sectionTwo{
    background-color: gray;
    height: 450px;
    position: relative;
/*    margin-top: 20px*/
}
.upcBarcode{
    width: 600px;
    margin-left: 250px;
    position:absolute;
    top: 40px;
    color: white;
    height: 400px
    
}
.upcBarcode #con{
    color: black;
    position: relative;
    left: 400px;
    top: -300px;
}
.upcBarcode p{
    font-size: 40px;
}
.upcBarcode span{
    font-size: 25px;
    font-weight: 100;
    font-size: 18px;
    position: relative;
    top: -20px
}
.upcBarcode img{
    width: 300px;
    height: 300px;
    margin-left: 0px;
    margin-top: -
}
.upcBarcode a{
    position: relative;
    left: 400px;
    top: -280px;
    padding: 15px;
    border-radius: 50px;
    background-color: mediumseagreen;
    text-decoration: none;
    color: white;
    
}
.upcBarcode a:hover{background-color: seagreen;}
#socialMedia{
    background-color: mediumseagreen;
    width: 1357px;
    margin-left: -8px;
    height:90px;
    text-align: center;
}
#SMsocial{
    color: white;
    padding: 18px 18px 15px 15px;
    border-radius: 100%;
    margin-left: 30px;
    border: solid 2px white;
    position: relative;
    top:30px;
}
#SMsocial:hover{
    background-color: white;
    color: mediumseagreen
}
#footer{
    background-color: black;
    margin-left: -8px;
    width: 1357px;
    height: 690px
}
#footerlogo{
    position: relative;
    top: 80px;
    left: 250px;
    width: 150px;
    height: 40px;
}
#footerlinkscon{
    width:700px;
    position: relative;
    left: 450px;
    top: 20px
}
#footerCol1{
    width: 200px;
}
.footerheads{
    color: white;
    font-family:arial nova;
    font-size: 12px;
    padding:0px 0px
}
.footerlinks{
    text-decoration: none;
    color: mediumseagreen;
    font-family: arial nova;
    font-size: 12px;
    float: left;
    width:160px;
    margin-right: 50px;
    
    margin-bottom: 16px;
    position: relative;
}
#footerCol2{
    width: 200px;
    position: absolute;
    top:-16px;
    left: 200px;
}
#footerCol3{
    width: 200px;
    position: absolute;
    top:-16px;
    left: 400px;
}
.footerlinks:hover{color: white}
#hanger
{
    position: relative;
    top: 70px;
    left: 150px;
    width: 250px;
}
#hanger #top
{
    height: 30px;
    margin-top: -30px;
    background-color: mediumseagreen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#hanger #a1
{
    height: 60px;
    font-size: 25px;;
    background-color: gray;
    padding-left: 10px; 
}
#hanger #b2
{
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
#hanger a
{
    text-decoration: none;
}
#hanger #a1 a
{
    color: black
}
#hanger #a1 a:hover
{
    color: white;
    text-decoration: underline;
}
#hanger #b2 a
{
    color: seagreen;
}
#hanger #b2 a:hover
{
    text-decoration: underline;
}